# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd

# =========================
# Ambientes virtuais
# =========================
venv/
.env/
.venv/

# =========================
# Jupyter / Notebooks
# =========================
.ipynb_checkpoints/

# =========================
# Arquivos de sistema
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs
# =========================
*.log

# =========================
# IDEs e editores
# =========================
.vscode/
.idea/

# =========================
# Dados locais (não versionar)
# =========================
data/raw/*
data/processed/*
data/outputs/*

# =========================
# Testes temporários
# =========================
.pytest_cache/
